{% liquid  
  assign current_variant = product.selected_or_first_available_variant
  assign form_cart_ID = "now" | date: "%Y%m%d%H%M%S"
%}

<form
  action="/cart/add"
  method="post"
  enctype="multipart/form-data"
  id="AddToCartForm"
  class="{% if ajax == true %}__add-to-cart-ajax{% endif %} form_cart_{{ form_cart_ID }}">
  <div class="variant__picker">

    {% assign is_index = '' %}
    {% for variant in product.variants %}
      {% assign is_checked = '' %}
      {% assign is_disabled = '' %}
      {% assign p_active = '' %}
      {% if is_index == '' and variant.available %}
        {% liquid
              assign is_checked = 'checked="checked"' 
              assign p_active = 'picker-selected'
              assign is_index = 'true'
            %}
      {% endif %}

      {% if variant.available == blank %}
        {% assign is_disabled = 'is-disabled' %}
      {% endif %}

      <label class="variant__picker--radio {{ p_active }} {{ is_disabled }}">
        <span class="variant__picker--title">{{ variant.title }}</span>
        <span class="variant__picker--price">
          {% if variant.compare_at_price %}
            <price-money>
              <bdi>{{ variant.compare_at_price | money }}</bdi>
            </price-money>
          {% endif %}
          {{ variant.price | money }}
        </span>
        <input
          type="radio"
          name="variant_price"
          value="{{ variant.id }}"
          {{ is_checked }}
          data-inventory_quantity="{{ variant.inventory_quantity }}"
          data-variant_price="{{ variant.price | money }}">
        <span class="checkmark"></span>
      </label>
      {% if variant.available == blank %}
        <a
          href="#"
          class="BIS_trigger link-in-product link-notify-me"
          data-product-data="{{ product | json | escape }}"
          data-variant-id="{{ variant.id }}">
          Notify me when back in stock
        </a>
      {% endif %}
    {% endfor %}
  </div>
  <div class="__group-2-cols">
    <div class="__product-variant-select" style="display:none;">
      <select name="id" id="productSelect">
        {% for variant in product.variants %}
          {% if variant.available %}
            <option value="{{ variant.id }}" data-price="{{ variant.price | money }}">
              {{ variant.title }} - {{ variant.price | money_with_currency }}
            </option>
          {% else %}
            <option
              value="{{ variant.id }}"
              disabled="disabled"
              data-price="{{ variant.price | money }}">
              {{ variant.title }} - sold out
            </option>
          {% endif %}
        {% endfor %}
      </select>
    </div>

    <div class="__product-qty">
      <span class="__qty-update __qty-decrease">
        <svg
          width="29"
          height="4"
          viewBox="0 0 29 4"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M2.4668 2H26.0918"
            stroke="white"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </span>
      <input
        type="number"
        id="Quantity"
        name="quantity"
        value="1"
        min="1"
        autocomplete="off" />
      <span class="__qty-update __qty-increase">
        <svg
          width="42"
          height="42"
          viewBox="0 0 42 42"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M21 9.1875V32.8125"
            stroke="white"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round" />
          <path
            d="M9.1875 21H32.8125"
            stroke="white"
            stroke-width="4"
            stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </span>
    </div>
    <button
      type="submit"
      name="add"
      id="AddToCart"
      class="button">
      Add to Cart -
      <span class="current-price">{{ current_variant.price | money }}</span>
    </button>
  </div>

  {{ form | payment_button }}
</form>

<script>
  var formAddCart = document.getElementsByClassName('{{ 'form_cart_' | append: form_cart_ID }}')[0];

  if (formAddCart != undefined) {

    formAddCart.querySelectorAll('.__qty-update').forEach(update => update.addEventListener('click', updatePriceSingleProduct));

/*
    formAddCart.querySelectorAll('input[name="variant_price"]').forEach(el => {
      el.addEventListener('change', function(e) {
        let qtyField = formAddCart.querySelector('input[name="quantity"]');
        qtyField.value = 1;
        var event = new Event('change');
        qtyField.dispatchEvent(event);
      })
    })
    */

    var productSelect = formAddCart.querySelector("#productSelect");

    if (productSelect != null) {
      productSelect.onchange = function() {
        updatePriceSingleProduct()
      };
      renderVariantPrice();
    }

    function updatePriceSingleProduct() {
      return;

      setTimeout(function() {
        var qty = formAddCart.querySelector('input[name="quantity"]').value;
        var e = formAddCart.querySelector("#productSelect");
        var option = e.options[e.selectedIndex];
        var price = option.getAttribute("data-price");
        var initialPrice = price.replace('$', '');
        let newPrice = initialPrice * qty;
        var el = formAddCart.getElementsByClassName("current-price")[0];

// console.log(newPrice);

        el.innerHTML = '$' + newPrice.toFixed(2);
      }, 200);
    }

// Variant Picker
    function renderVariantPrice() {
      formAddCart.querySelectorAll('.variant__picker--radio').forEach(update => update.addEventListener('click', function() {
        var current = formAddCart.getElementsByClassName("picker-selected");
        current[0].className = current[0].className.replace(" picker-selected", "");
        this.className += " picker-selected";
        var varian_id = this.querySelector('input[type="radio"]').value;
        const $select = formAddCart.querySelector('#productSelect');
        $select.value = varian_id;
        updatePriceSingleProduct();
      }));
    }
  }
</script>