<div class="blog-sidebar">
  <div class="block-widget block-category">
    <h3 class="block-widget__title">Category</h3>
    <div class="block-widget__content">
      <ul class="list-category">
        {% for link in linklists.blogs-menu.links -%}
          <li class="item-category">
            {%- if blog.url == link.url -%}
              <a class="current-blog" href="{{ link.url }}">
                <span>
                  <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15 4.60547L6.75 12.8555L3 9.10547" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </span>
                {{ link.title }}
            </a>
            {%- else -%}
              <a href="{{ link.url }}"> 
                <span></span>
                {{ link.title }}
              </a>
            {%- endif -%}
          </li>
        {%- endfor %}
      </ul>
    </div>
  </div>

  <div class="block-widget block-post">
    <h3 class="block-widget__title">Trending Posts</h3>
    <div class="block-widget__content">
      <div class="list-post">
        {% for article in blog.articles  limit: 3 %}
          <div class="item-post">
            <div class="item-post__thumb">
              {%- if article.image -%}
                <a href="{{ article.url }}">
                  <img src="{{ article.image | image_url: width: 150 }}" alt="{{ article.image.alt | escape }}">
                </a>
              {%- endif -%}
            </div>
            <div class="item-post__content">
              <div class="item-post__by">by {{ article.author }}</div>
              <h3 class="item-post__title">
                <a href="{{ article.url }}">
                  {{ article.title | escape }}
                </a>
              </h3>
            </div>
          </div>
        {% endfor %}


        {% comment %} {% for link in linklists.blogs-menu.links %}
          {% assign blog = link.object %}
          {% for article in blog.articles  limit: 3 %}
            <li class="item-post">
              <a href="{{ article.url }}" class="item-post__link">
                <div class="item-post__thumb">
                  {%- if article.image -%}
                    <img src="{{ article.image | image_url: width: 150 }}" alt="{{ article.image.alt | escape }}">
                  {%- endif -%}
                </div>
                <div class="item-post__content">
                  <div class="item-post__by">by {{ article.author }}</div>
                  <h3
                    class="item-post__title"
                    id="Article-{{ article.id }}">
                    {{ article.title | escape }}
                  </h3>
                </div>
              </a>
            </li>
          {% endfor %}
        {% endfor %} {% endcomment %}
      </div>
    </div>
  </div>

  <div class="block-widget block-tag">
    <h3 class="block-widget__title">Tags</h3>
    <div class="block-widget__content">
      {%- if blog.tags.size > 0 -%}
        <ul class="list-tag">
          {% for link in linklists.blogs-menu.links %}
            {% assign blog = link.object %}
            {%- for tag in blog.all_tags -%}
              {%- liquid
                        if tag contains "_"
                            assign tag_starts_with = tag | slice: 0
        
                            if tag_starts_with == "_"
                            if tag_count
                                assign tag_count = tag_count | minus: 1 | at_least: 0
                            endif
        
                            continue
                            endif
                        endif
                    -%}
              <li class="item-tag">
                <a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" class="link{% if current_tags contains tag %} is-selected{% endif %}">{{ tag }}</a>
              </li>
            {%- endfor -%}
          {% endfor %}
        </ul>
      {%- endif -%}
    </div>
  </div>
</div>
