{% comment %}
  Renders facets (filtering and sorting)

  Accepts:
  - results: {Object} Collection or Search object
  - enable_filtering: {Boolean} Show filtering when true
  - enable_sorting: {Boolean} Show sorting when true
  - filter_type: {String} Type of filter

  Usage:
  {% render 'facets', results: collection, enable_filtering: true, enable_sorting: true, filter_type: 'vertical' %}
{% endcomment %}

{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else 
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif

  if enable_filtering
    assign price_range_active = false
    for filter in results.filters
      if filter.type == "price_range"
        if filter.min_value.value != nil or filter.max_value.value != nil
          assign price_range_active = true
        endif
      endif
      assign total_active_values = total_active_values | plus: filter.active_values.size
    endfor
  endif
-%}

<{% if enable_sticky_facet %}sticky-facet-filters class="facet-filters facet-filters-sticky"{% else %}div class="facet-filters"{% endif %} id="main-facet-filters" data-id="{{ section.id }}">
  <div class="page-width{% if enable_filtering and filter_type == 'drawer' %} facets-container-drawer{% endif %}">
    {%- if enable_filtering or enable_sorting or enable_viewing -%}
      <facet-filters-form class="facets small-hide">
        <form id="FacetFiltersForm" class="facets__form">
          {%- if results.terms -%}
            <input type="hidden" name="q" value="{{ results.terms | escape }}"/>
            <input name="options[prefix]" type="hidden" value="last"/>
          {%- endif -%}
          {%- if results.current_vendor or results.current_type -%}
            <input type="hidden" name="q" value="{{ results.current_vendor | escape }}{{ results.current_type | escape }}"/>
          {%- endif -%}
          <div class="facets__wrapper">
            {%- if enable_filtering and filter_type != 'drawer' -%}
              <facet-drawer id="FacetDrawer">
                <details class="disclosure-has-popup facets__disclosure">
                  <summary class="facets__summary">
                    <span class="facets__open button button--small">
                      <span>{{ 'products.facets.filter_button' | t }}</span>
                      {%- if total_active_values > 0 or price_range_active -%}
                        <span class="facets__count-bubble">
                          <span class="count-bubble count-bubble--dot"></span>
                        </span>
                      {%- endif -%}
                      {% render 'icon', icon: 'plus' %}
                    </span>
                  </summary>
                  <div class="facets__display">
                    <div class="facets__inner">
                      <div class="facets__main">
                        {%- for filter in results.filters -%}
                          {%- case filter.type -%}
                          {%- when 'boolean' or 'list' -%}
                            <div class="js-filter" data-index="{{ forloop.index }}">
                              <div class="facets__header">
                                <span class="facets__selected">
                                  {{ filter.label | escape }}
                                  {%- if filter.active_values.size > 0 -%}
                                    <span class="count-bubble">{{ filter.active_values.size }}</span>
                                  {%- endif -%}
                                </span>
                              </div>
                              <facet-remove>
                                <a href="{{ filter.url_to_remove }}" class="facets__reset link link--underline" >{{ 'products.facets.reset' | t }}</a>
                              </facet-remove>
                              <ul class="facets__list list-unstyled" role="list">
                                {%- for value in filter.values -%}
                                  <li class="list-menu__item facets__item">
                                    <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}" class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %}">
                                      <input type="checkbox"
                                        name="{{ value.param_name }}"
                                        value="{{ value.value }}"
                                        id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                        {% if value.active %}checked="checked"{% endif %}
                                        {% if value.count == 0 and value.active == false %}disabled="disabled"{% endif %}
                                      />
                                      <span class="icon"></span>
                                      {{ value.label | escape }} ({{ value.count }})
                                    </label>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </div>
                          {%- when 'price_range' -%}
                            {%- liquid
                              assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
                              assign uses_comma_decimals = false
                              
                              if currencies_using_comma_decimals contains cart.currency.iso_code
                                assign uses_comma_decimals = true
                              endif
      
                              assign filter_range_max = filter.range_max
                              assign filter_min_value = 0
                              assign filter_max_value = filter_range_max
        
                              if filter.min_value.value != nil
                                assign filter_min_value = filter.min_value.value
                              endif
        
                              if filter.max_value.value != nil
                                assign filter_max_value = filter.max_value.value
                              endif
        
                              assign progress_lower = filter_min_value | times: 100.0 | divided_by: filter_range_max
                              assign progress_upper = filter_max_value | times: 100.0 | divided_by: filter_range_max
        
                              assign filter_min_price_amount = filter_min_value | money_without_trailing_zeros
                              assign filter_max_price_amount = filter_max_value | money_without_trailing_zeros
                              assign filter_range_max_amount = filter_range_max | divided_by: 100.0 | ceil
                              assign filter_min_value_amount = filter_min_value | money_without_trailing_zeros | remove: cart.currency.symbol
                              assign filter_max_value_amount = filter_max_value | money_without_trailing_zeros | remove: cart.currency.symbol

                              if uses_comma_decimals
                                assign filter_min_value_amount = filter_min_value_amount | replace: '.', '' | replace: ',', '.'
                                assign filter_max_value_amount = filter_max_value_amount | replace: '.', '' | replace: ',', '.'
                              else
                                assign filter_min_value_amount = filter_min_value_amount | replace: ',', ''
                                assign filter_max_value_amount = filter_max_value_amount | replace: ',', ''
                              endif
                            -%}
                            <div class="js-filter" data-index="{{ forloop.index }}">
                              <div class="facets__header">
                                <span class="facets__selected">
                                  {{ filter.label | escape }}
                                  {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
                                    <span class="count-bubble count-bubble--dot"></span>
                                  {%- endif -%}
                                </span>
                              </div>
                              <facet-remove>
                                <a href="{{ filter.url_to_remove }}" class="facets__reset link link--underline" >{{ 'products.facets.reset' | t }}</a>
                              </facet-remove>
                              <div class="facets__price">
                                <price-range class="price-range" data-min="0" data-max="{{ filter_range_max_amount }}" style="--progress-lower:{{ progress_lower }}%; --progress-upper:{{ progress_upper }}%;">
                                  <div class="price-range__prefix">{{ cart.currency.symbol }}</div>
                                  <div class="price-range__track-wrapper">
                                    <div class="price-range__track"></div>
                                    <div class="price-range__track-dashed"></div>
                                    <div class="price-range__thumbs is-lower" role="slider" aria-valuenow="{{ filter_min_value_amount }}" tabindex="0"></div>
                                    <output class="price-range__output">
                                      <div class="price-range__output-bubble">
                                        <span class="price-range__output-text">{{ filter_min_value_amount }}</span>
                                      </div>
                                    </output>
                                    <div class="price-range__thumbs is-upper" role="slider" aria-valuenow="{{ filter_max_value_amount }}" tabindex="0"></div>
                                    <output class="price-range__output">
                                      <div class="price-range__output-bubble">
                                        <span class="price-range__output-text">{{ filter_max_value_amount }}</span>
                                      </div>
                                    </output>
                                  </div>
                                  <div class="fields">
                                    <div class="field">
                                      <label class="field__label" for="Filter-{{ filter.label | escape }}-GTE">{{ 'products.facets.from' | t }}</label>
                                      <span class="field__currency">{{ cart.currency.symbol }}</span>
                                      <input class="field__input"
                                        name="{{ filter.min_value.param_name }}"
                                        id="Filter-{{ filter.label | escape }}-GTE"
                                        type="number"
                                        placeholder="0"
                                        min="0"
                                        max="{{ filter.range_max | divided_by: 100.0 | ceil }}"
                                        {%- if filter.min_value.value -%}
                                          {%- if uses_comma_decimals %}
                                            value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                          {%- else -%}
                                            value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                          {% endif -%}
                                        {%- endif -%}
                                      />
                                    </div>
                                    <div class="field">
                                      <label class="field__label" for="Filter-{{ filter.label | escape }}-LTE">{{ 'products.facets.to' | t }}</label>
                                      <span class="field__currency">{{ cart.currency.symbol }}</span>
                                      <input class="field__input"
                                        name="{{ filter.max_value.param_name }}"
                                        id="Filter-{{ filter.label | escape }}-LTE"
                                        type="number"
                                        placeholder="{{ filter.range_max | divided_by: 100.0 | ceil }}"
                                        min="0"
                                        max="{{ filter.range_max | divided_by: 100.0 | ceil }}"
                                        {%- if filter.max_value.value -%}
                                          {%- if uses_comma_decimals %}
                                            value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                          {%- else -%}
                                            value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                          {% endif -%}
                                        {%- endif -%}
                                      />
                                    </div>
                                  </div>
                                </price-range>
                                <div>{{ "products.facets.price_html" | t: price_min: filter_min_price_amount, price_max: filter_max_price_amount }}</div>
                              </div>
                            </div>
                          {% endcase %}
                        {%- endfor -%}
                        <div class="facets__footer">
                          <button type="button" class="no-js-hidden button button--small" onclick="this.closest('facet-drawer').querySelector('summary').click()">{{ 'products.facets.apply' | t }}</button>
                          <facet-remove>
                            <a href="{{ results_url }}" class="facets__clear link link--underline">{{ 'products.facets.clear' | t }}</a>
                          </facet-remove>
                          <noscript><button class="button button--small">{{ 'products.facets.apply' | t }}</button></noscript>
                        </div>
                      </div>
                    </div>
                  </div>
                </details>
              </facet-drawer>
            {%- endif -%}
            {%- if enable_sorting -%}
              <div class="sorting">
                <div class="facet-filters__field">
                  <details class="disclosure-has-popup facets__disclosure facet-filters__sort">
                    <summary class="facets__summary">
                      <span class="button button--secondary button--small">{{ 'products.facets.sort_by_label' | t }}{% render 'icon', icon: 'caret' %}</span>
                    </summary>
                    <div class="facets__display">
                      <ul class="facets__list list-unstyled" role="list">
                        {%- for option in results.sort_options -%}
                          <li class="list-menu__item facets__item">
                            <label for="Filter-{{ option.value | escape }}-{{ forloop.index }}" class="facet-checkbox">
                              <input type="radio" name="sort_by" value="{{ option.value | escape }}" id="Filter-{{ option.value | escape }}-{{ forloop.index }}" {% if option.value == sort_by %}checked="checked"{% endif %} class="visually-hidden" />
                              <span class="label">{{ option.name | escape }}</span>
                            </label>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  </details>
                </div>
                <noscript>
                  <button type="submit" class="button button--small">{{ 'products.facets.sort_button' | t }}</button>
                </noscript>
              </div>
            {%- endif -%}
          </div>
          {%- if enable_viewing -%}
            <layout-switcher>
              <ul class="list-unstyled list-view" role="list">
                {%- for per_row in (2..4) -%}
                  {%- assign layout = 'grid-' | append: per_row -%}
                  <li>
                    <button type="button" class="list-view__item{% if default_layout == layout %} list-view__item--active{% endif %}" data-layout-mode="grid-{{ per_row }}">
                      <span>
                        {% render 'icon', icon: layout %}
                        <i>{{ per_row }}</i>
                      </span>
                    </button>
                  </li>
                {%- endfor -%}
              </ul>
            </layout-switcher>
          {%- else -%}
            <div class="product-count" role="status">
              <p id="ProductCountDesktop" class="product-count__text">
                {%- liquid
                  if results.results_count
                    echo 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count
                  elsif results.products_count == results.all_products_count
                    echo 'products.facets.product_count_simple' | t: count: results.products_count
                  else
                    echo 'products.facets.product_count' | t: product_count: results.products_count, count: results.all_products_count
                  endif
                -%}
              </p>
              <div class="loading-overlay__spinner">
                {% render 'icon', icon: 'spinner' %}
              </div>
            </div>
          {%- endif -%}
        </form>
      </facet-filters-form>
      {%- if enable_filtering or enable_sorting -%}
        <facet-drawer class="mobile-facets__wrapper">
          <details class="disclosure-has-popup{% if filter_type != 'drawer' %} medium-hide large-up-hide{% endif %}">
            <summary>
              <span class="mobile-facets__open button button--small button--full-width">
                {% render 'icon', icon: 'filter' %}
                <span class="medium-hide large-up-hide">
                  {%- liquid
                    if enable_filtering and enable_sorting
                      echo 'products.facets.filter_and_sort' | t
                    elsif enable_filtering
                      echo 'products.facets.filter_button' | t
                    elsif enable_sorting
                      echo 'products.facets.sort_button' | t
                    endif
                  -%}
                </span>
                <span class="small-hide">
                  {%- liquid
                    if enable_filtering
                      echo 'products.facets.filter_button' | t
                    endif
                  -%}
                </span>
                {%- if total_active_values > 0 or price_range_active -%}
                  <span class="facets__count-bubble">
                    <span class="count-bubble count-bubble--dot"></span>
                  </span>
                {%- endif -%}
              </span>
              <span tabindex="0" class="mobile-facets__close">
                {% render 'icon', icon: 'close-alt' %}
              </span>
            </summary>
            <facet-filters-form>
              <form id="FacetFiltersFormMobile" class="mobile-facets">
                <div class="mobile-facets__inner">
                  <div class="mobile-facets__header">
                    <div class="mobile-facets__header-inner">
                      <h2 class="mobile-facets__heading medium-hide large-up-hide">
                        {%- liquid
                          if enable_filtering and enable_sorting
                            echo 'products.facets.filter_and_sort' | t
                          elsif enable_filtering
                            echo 'products.facets.filter_button' | t
                          elsif enable_sorting
                            echo 'products.facets.sort_button' | t
                          endif
                        -%}
                      </h2>
                      <h2 class="mobile-facets__heading small-hide">
                        {%- liquid
                          if enable_filtering
                            echo 'products.facets.filter_button' | t
                          endif
                        -%}
                      </h2>
                      
                      <div class="product-count" role="status">
                        <p id="ProductCountMobile" class="product-count__text">
                          {%- liquid
                            if results.results_count
                              echo 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count
                            elsif results.products_count == results.all_products_count
                              echo 'products.facets.product_count_simple' | t: count: results.products_count
                            else
                              echo 'products.facets.product_count' | t: product_count: results.products_count, count: results.all_products_count
                            endif
                          -%}
                        </p>
                        <div class="loading-overlay__spinner">
                          {% render 'icon', icon: 'spinner' %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mobile-facets__main">
                    {%- if enable_filtering -%}
                      {%- for filter in results.filters -%}
                        {% case filter.type %}
                        {% when 'boolean' or 'list' %}
                          <details class="mobile-facets__details js-filter" data-index="mobile-{{ forloop.index }}">
                            <summary class="mobile-facets__summary" role="button">
                              <span>
                                <span>{{ filter.label | escape }}</span>
                                <span class="mobile-facets__arrow no-js-hidden">
                                  {% render 'icon', icon: 'arrow' %}
                                </span>
                                <noscript>{% render 'icon', icon: 'caret' %}</noscript>
                              </span>
                            </summary>
                            <div class="mobile-facets__submenu">
                              <button class="mobile-facets__close-button link link--text focus-inset" aria-expanded="true" type="button">
                                {% render 'icon', icon: 'arrow' %}
                                {{ filter.label | escape }}
                              </button>
                              <ul class="mobile-facets__list list-unstyled" role="list">
                                {%- for value in filter.values -%}
                                  <li class="mobile-facets__item list-menu__item">
                                    <label for="Filter-{{ filter.label | escape }}-mobile-{{ forloop.index }}" class="mobile-facets__label{% if value.count == 0 and value.active == false %} mobile-facets__label--disabled{% endif %}">
                                      <input class="mobile-facets__checkbox"
                                        type="checkbox"
                                        name="{{ value.param_name }}"
                                        value="{{ value.value }}"
                                        id="Filter-{{ filter.label | escape }}-mobile-{{ forloop.index }}"
                                        {% if value.active %}checked="checked"{% endif %}
                                        {% if value.count == 0 and value.active == false %}disabled="disabled"{% endif %}
                                      />
                                      <span class="icon"></span>
                                      {{ value.label | escape }} ({{ value.count }})
                                    </label>
                                  </li>
                                {%- endfor -%}
                              </ul>
                              <div class="no-js-hidden mobile-facets__footer">
                                <button type="button" class="no-js-hidden button" onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()">{{ 'products.facets.apply' | t }}</button>
                                <facet-remove>
                                  <a href="{{ results_url }}" class="mobile-facets__clear link link--underline">{{ 'products.facets.clear' | t }}</a>
                                </facet-remove>
                                <noscript><button class="button">{{ 'products.facets.apply' | t }}</button></noscript>
                              </div>
                            </div>
                          </details>
                        {% when 'price_range' %}
                          <details class="mobile-facets__details js-filter" data-index="mobile-{{ forloop.index }}">
                            <summary class="mobile-facets__summary" role="button">
                              <span>
                                <span>{{ filter.label | escape }}</span>
                                <span class="mobile-facets__arrow no-js-hidden">
                                  {% render 'icon', icon: 'arrow' %}
                                </span>
                                <noscript>{% render 'icon', icon: 'caret' %}</noscript>
                              </span>
                            </summary>
                            <div class="mobile-facets__submenu">
                              <button class="mobile-facets__close-button link link--text focus-inset" aria-expanded="true" type="button">
                                {% render 'icon', icon: 'arrow' %}
                                {{ filter.label | escape }}
                              </button>
                              <div class="facets__price">
                                <div class="fields">
                                  <div class="field">
                                    <label class="field__label" for="Mobile-Filter-{{ filter.label | escape }}-GTE">{{ 'products.facets.from' | t }}</label>
                                    <span class="field__currency">{{ cart.currency.symbol }}</span>
                                    <input class="field__input"
                                      name="{{ filter.min_value.param_name }}"
                                      id="Mobile-Filter-{{ filter.label | escape }}-GTE"
                                      type="number"
                                      placeholder="0"
                                      min="0"
                                      max="{{ filter.range_max | divided_by: 100.0 | ceil }}"
                                      {%- if filter.min_value.value -%}
                                        {%- if uses_comma_decimals %}
                                          value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                        {%- else -%}
                                          value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                                        {% endif -%}
                                      {%- endif -%}
                                    />
                                  </div>
                                  <div class="field">
                                    <label class="field__label" for="Mobile-Filter-{{ filter.label | escape }}-LTE">{{ 'products.facets.to' | t }}</label>
                                    <span class="field__currency">{{ cart.currency.symbol }}</span>
                                    <input class="field__input"
                                      name="{{ filter.max_value.param_name }}"
                                      id="Mobile-Filter-{{ filter.label | escape }}-LTE"
                                      type="number"
                                      placeholder="{{ filter.range_max | divided_by: 100.0 | ceil }}"
                                      min="0"
                                      max="{{ filter.range_max | divided_by: 100.0 | ceil }}"
                                      {%- if filter.max_value.value -%}
                                        {%- if uses_comma_decimals %}
                                          value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                                        {%- else -%}
                                          value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                                        {% endif -%}
                                      {%- endif -%}
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </details>
                        {% endcase %}
                      {%- endfor -%}
                    {%- endif -%}
                    {%- if enable_sorting -%}
                      <div class="mobile-facets__details js-filter{% if filter_type == 'drawer' %} medium-hide large-up-hide{% endif %}" data-index="mobile-{{ forloop.index }}">
                        <div class="mobile-facets__summary">
                          <div class="mobile-facets__sort">
                            <label for="SortBy-mobile">{{ 'products.facets.sort_by_label' | t }}</label>
                            <div class="select">
                              <select name="sort_by" class="select__select" id="SortBy-mobile" aria-describedby="a11y-refresh-page-message">
                                {%- for option in results.sort_options -%}
                                  <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name | escape }}</option>
                                {%- endfor -%}
                              </select>
                              {% render 'icon', icon: 'caret' %}
                            </div>
                          </div>
                        </div>
                      </div>
                    {%- endif -%}
                    <div class="mobile-facets__footer">
                      <button type="button" class="no-js-hidden button" onclick="this.closest('.mobile-facets__wrapper').querySelector('summary').click()">{{ 'products.facets.apply' | t }}</button>
                      <facet-remove>
                        <a href="{{ results_url }}" class="mobile-facets__clear link link--underline">{{ 'products.facets.clear' | t }}</a>
                      </facet-remove>
                      <noscript><button class="button">{{ 'products.facets.apply' | t }}</button></noscript>
                    </div>
                  </div>
                  {%- if search.performed -%}<input type="hidden" name="q" value="{{ search.terms | escape }}"/>{%- endif -%}
                  {%- if collection.current_vendor or collection.current_type -%}<input type="hidden" name="q" value="{{ collection.current_vendor | escape }}{{ collection.current_type | escape }}"/>{%- endif -%}
                </div>
              </form>
            </facet-filters-form>
          </details>
        </facet-drawer>
      {%- endif -%}
    {%- endif -%}
  </div>
</{% if enable_sticky_facet %}sticky-facet-filters{% else %}div{% endif %}>

<div class="page-width">
  <div class="active-facets-mobile">
    {%- if enable_filtering -%}
      <div class="active-facets{% if total_active_values == 0 and price_range_active == false %} hidden{% endif %}">
        <facet-remove>
          <a href="{{ results_url }}" class="active-facets__button active-facets__button--dark">
            {% render 'icon', icon: 'close-alt' %}
            {{ 'products.facets.clear_all' | t }}
          </a>
        </facet-remove>
        {%- for filter in results.filters -%}
          {%- for value in filter.active_values -%}
            <facet-remove>
              <a class="active-facets__button" href="{{ value.url_to_remove }}">
                {% render 'icon', icon: 'close-alt' %}
                {{ filter.label }}: {{ value.label | escape }}
              </a>
            </facet-remove>
          {%- endfor -%}
          {% if filter.type == "price_range" %}
            {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
              <facet-remove>
                <a class="active-facets__button" href="{{ filter.url_to_remove }}">
                  {% render 'icon', icon: 'close-alt' %}
                  {% if filter.min_value.value != nil %}{{ filter.min_value.value | money_without_trailing_zeros }}{% else %}{{ 0 | money_without_trailing_zeros }}{% endif %} — {% if filter.max_value.value != nil %}{{ filter.max_value.value | money_without_trailing_zeros }}{% else %}{{ filter.range_max | money_without_trailing_zeros }}{% endif %}
                </a>
              </facet-remove>
            {%- endif -%}
          {% endif %}
        {%- endfor -%}
      </div>
    {%- endif -%}

    <div class="product-count{% unless enable_viewing %} medium-hide large-up-hide{% endunless %}" role="status">
      <p id="ProductCount" class="product-count__text">
        {%- liquid
          if results.results_count
            echo 'templates.search.results_with_count' | t: terms: results.terms, count: results.results_count
          elsif results.products_count == results.all_products_count
            echo 'products.facets.product_count_simple' | t: count: results.products_count
          else
            echo 'products.facets.product_count' | t: product_count: results.products_count, count: results.all_products_count
          endif
        -%}
      </p>
      <div class="loading-overlay__spinner">
        {% render 'icon', icon: 'spinner' %}
      </div>
    </div>
  </div>
</div>
