{% liquid  
  assign current_variant = product.selected_or_first_available_variant
  assign featured_image = current_variant.featured_image | default: product.featured_image
%}
 
<div class="main-product main-product__container" style="background: white; padding: 1em 0 3em; color: black;">
  <div class="site-container">
    <div class="main-product__inner">
      <div class="__product-gallery">
        <div class="main-product__gallery-thumb">
          {% for image in product.images %}
            <a
              class="main-product__gallery-thumb-item"
              href="{{ image.src | img_url: 'large' }}"
              data-imageurl="{{ image.src | img_url: 'large' }}">
              <img
                loading="lazy"
                width=""
                height=""
                src="{{ image.src | product_img_url: '250x250' | crop: 'center' }}"
                alt="{{ image.alt | escape }}" />
            </a>
          {% endfor %}
        </div>
        <div class="main-product__image">
          <img
            loading="lazy"
            width=""
            height=""
            src="{{ featured_image | img_url: 'large' }}"
            alt="{{ featured_image.alt | escape }}"
            id="ProductPhotoImg" />
        </div>
      </div>
      <!-- .__product-gallery -->
      <div class="__product-info">
        {%- for block in blocks -%}
          {%- case block.type -%}

            {%- when '@app' -%}
            {% render block %}

            {%- when 'title' -%}
            <div class="product__title" {{ block.shopify_attributes }}>
              <h1 class="{{ block.settings.title_size }}">
                {{ product.title | escape }}
              </h1>
            </div>

            {%- when 'text' -%}
            {%- if block.settings.text != blank -%}
              <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" {{ block.shopify_attributes }}>
                {%- liquid
                    if block.settings.text != product.vendor
                      render 'icon-accordion', icon: block.settings.icon
                      echo block.settings.text
                    else
                      echo product.vendor | link_to_vendor : class: "link"
                    endif
                  -%}
              </p>
            {%- endif -%}

            {%- when 'sku' -%}
            <p
              class="product__sku{% if block.settings.sku_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.sku_style == 'subtitle' %} subtitle{% endif %}"
              id="sku-{{ section.id }}"
              {{ block.shopify_attributes }}>
              {{- product.selected_or_first_available_variant.sku -}}
            </p>

            {%- when 'description' -%}
            <div class="product__description rte" {{ block.shopify_attributes }}>{{ product.description }}</div>

            {%- when 'custom_liquid' -%}
            {{ block.settings.custom_liquid }}

            {%- when 'share' -%}
            <div class="share-button" {{ block.shopify_attributes }}>
              {%- liquid
                  assign share_image = product.selected_or_first_available_variant.featured_media.preview_image | default: product.featured_media.preview_image
                  render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: share_image
                -%}
            </div>

            {%- when 'addtocart-form' -%}
            <div class="__product-add-cart-form">
              {%- if product.available -%}
                {%- render 'addtocart-form-single' | product: product -%}
              {%- else -%}
                <span class="__sold-out">Sold Out</span>
              {%- endif -%}

              {% if product.available == false %}
                <button id="BIS_trigger" type="button" class="button btn-notify-available">NOTIFY ME WHEN AVAILABLE</button>
              {% endif %}
            </div>
          {% endcase %}

        {%- endfor -%}
        
      </div>
      <!-- .__product-info -->
    </div>
  </div>
</div>
<!-- .main-product -->