{{ 'section-card-w-icon.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-card-w-icon .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
    background-color: {{ section.settings.bg_color }}
  }
  .section-card-w-icon .card-with-icon-wrapper.section-{{ section.id }}-padding .card-with-icon--heading {
    color: {{ section.settings.heading_color }}
    ;
  }
  .section-card-w-icon .card-with-icon-wrapper.section-{{ section.id }}-padding .card-with-icon--subheading {
    color: {{ section.settings.subheading_color }}
    ;
  }
{%- endstyle -%}

<div class="card-with-icon-wrapper section-{{ section.id }}-padding">
  <div class="section-container">
    {%- if section.settings.heading_card != blank -%}
      <h2 class="card-with-icon--heading">{{ section.settings.heading_card }}</h2>
    {%- endif -%}

    <div class="card-with-icon-grid">
      {%- for block in section.blocks -%}
        <div class="card-with-icon__item" {{ block.shopify_attributes }}>
          <div class="card-with-icon__item-inner" style="background-color: {{block.settings.bg_item_color}}">
            <div class="card-with-icon__item-icon">
              {%- if block.settings.card_icon != blank -%}
                <img src="{{ block.settings.card_icon | image_url }}" alt="icon">
              {%- endif -%}
            </div>
            <div class="card-with-icon__item-content">
              <h4 class="card-with-icon__item-title" style="color: {{block.settings.heading_color}}">
                {{ block.settings.card_heading }}
              </h4>
              <div class="card-with-icon__item-desc" style="color: {{block.settings.content_color}}">
                {{ block.settings.text }}
              </div>
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Card with Icon",
  "tag": "section",
  "class": "section-card-w-icon",
  "settings": [
    {
      "type": "text",
      "id": "heading_card",
      "default": "The Sphynx Non-Alcoholic Beverages Guarantee",
      "label": "Heading"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 60
    },
    {
      "type": "header",
      "content": "Background Color"
    },
    {
      "type": "color",
      "id": "bg_color",
      "default": "#FFC85E",
      "label": "Section background"
    }
  ],
  "blocks": [
    {
      "type": "card_item",
      "name": "Card Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "card_icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "card_heading",
          "default": "Card heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Content",
          "default": "<p>Founded by three great mates, Sphynx is exceptionally proud to be a 100% Australian-owned and operated online non-alcoholic beverages company providing thirsty Australians with an alternative.</p>"
        },
        {
          "type": "header",
          "content": "Color settings"
        },
        {
          "type": "color",
          "id": "heading_color",
          "default": "#000",
          "label": "Heading Color"
        },
        {
          "type": "color",
          "id": "content_color",
          "default": "#8B8B8B",
          "label": "Content Color"
        },
        {
          "type": "color",
          "id": "bg_item_color",
          "default": "#FFF",
          "label": "Background Color"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Card with Icon",
      "blocks": [
        {
          "type": "card_item"
        },
        {
          "type": "card_item"
        }
      ]
    }
  ]
}
{% endschema %}
