{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="faq-section section-{{ section.id }}-padding">
  <div class="faq__container">
    {%- if section.settings.heading != blank -%}
      <h2 class="faq__title">{{ section.settings.heading | escape }}</h2>
    {%- endif -%}

    <div class="faq__list">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'rich-text' -%}
            <div class="faq__rt-item">
              <div class="faq__rt-question">{{ block.settings.title | escape }}</div>
              <div class="faq__rt-answer">{{ block.settings.text }}</div>
            </div>
          {%- when 'question' -%}
            <div class="faq__item">
              <div class="faq__question">
                {{ block.settings.title | escape }}
                  <span class="faq__icon">
                    <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M4.5 6.91016L9 11.4102L13.5 6.91016" stroke="#F05123" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </span>
              </div>
              <div class="faq__answer">
                {{ block.settings.text }}
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.faq.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "FAQs",
      "label": "t:sections.all.heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "rich-text",
      "name": "t:sections.faq.blocks.rich-text.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Rich text",
          "label": "t:sections.faq.blocks.rich-text.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Use this section for any descriptive text you need to fill out your pages or to add introductory headings between other blocks.</p>",
          "label": "t:sections.faq.blocks.rich-text.settings.text.label"
        }
      ]
    },
    {
      "type": "question",
      "name": "t:sections.faq.blocks.question.name",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Frequently asked question",
          "label": "t:sections.faq.blocks.question.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.faq.blocks.question.settings.text.label",
          "default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>"
        }
      ]
    }
  ],
  "presets": [{
    "name": "FAQs",
    "blocks": [
      {
        "type": "question"
      },
      {
        "type": "question"
      }
    ]
  }]
}
{% endschema %}
