{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px  * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="gallery-carousel-inner page-width page-width--full-width section-{{ section.id }}-padding">
        {%- for block in section.blocks -%}
          <div class="gallery-carousel-item" {{ block.shopify_attributes }}>
            {%- if block.settings.image != blank -%}
              <img src="{{block.settings.image | image_url}}"/>
            {%- endif -%}
          </div>
        {%- endfor -%}
</div>

{% schema %}
{
  "name": "Gallery Carousel",
  "tag": "section",
  "class": "section-gallery-carousel",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "default": false,
      "label": "t:sections.all.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "image_item",
      "name": "Image Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery Carousel",
      "blocks": [
        {
          "type": "image_item"
        },
        {
          "type": "image_item"
        },
        {
          "type": "image_item"
        }
      ]
    }
  ]
}
{% endschema %}
