{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: calc({{ section.settings.padding_top }}px * 0.75);
    padding-bottom: calc({{ section.settings.padding_bottom }}px * 0.75);
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="single-post-section section-{{ section.id }}-padding">
  <div class="single-post__container">
    <div class="single-post__wrap">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'post_content'-%}
          <div class="single-post__content">
            <article class="post-template">
    
              <div class="post-template__image">
                <img
                  srcset="{%- if article.image.width >= 375 -%}
                  {{ article.image | image_url: width: 375 }} 375w{%- endif -%}
                  {%- if article.image.width >= 750 -%},{{ article.image | image_url: width: 750 }} 750w{%- endif -%}
                  {%- if article.image.width >= 1100 -%},{{ article.image | image_url: width: 1100 }} 1100w{%- endif -%}
                  {%- if article.image.width >= 1500 -%},{{ article.image | image_url: width: 1500 }} 1500w{%- endif -%}
                  {%- if article.image.width >= 2200 -%},{{ article.image | image_url: width: 2200 }} 2200w{%- endif -%}
                  {%- if article.image.width >= 3000 -%},{{ article.image | image_url: width: 3000 }} 3000w{%- endif -%},
                  {{ article.image | image_url }} {{ article.image.width }}w"
                  src="{{ article.image | image_url: width: 1100 }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                  loading="lazy"
                  width="{{ article.image.width }}"
                  height="{{ article.image.height }}"
                  alt="{{ article.image.alt | escape }}">

              </div>
    
              <div class="post-template__category">{{ blog.title | link_to: blog.url, class: "link" }}</div>
    
              <h1 class="post-template__title" itemprop="headline">{{ article.title | escape }}</h1>
    
              <div class="post-template__content">{{ article.content }}</div>
    
              <div class="post-template__tag-share">
                <div class="post-template__tag">
                  {%- if blog.tags.size > 0 -%}
                    <ul class="list-tag">
                      {%- for tag in article.tags -%}
                        {%- liquid
                                    if tag contains "_"
                                        assign tag_starts_with = tag | slice: 0
                    
                                        if tag_starts_with == "_"
                                        if tag_count
                                            assign tag_count = tag_count | minus: 1 | at_least: 0
                                        endif
                    
                                        continue
                                        endif
                                    endif
                                -%}
                        <li class="item-tag">
                          <a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" class="link{% if current_tags contains tag %} is-selected{% endif %}">{{ tag }}</a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>
    
                <div class="post-template__share">
                  {% render 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
                </div>
              </div>
            </article>
          </div>
          {%- when 'post_sidebar'-%}
          <div class="single-post__sidebar">
            {% render 'blog-sidebar', blog: section.settings.blog, post_limit: section.settings.post_limit %}
          </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.main-article.name",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.padding.header.content"
      }, {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "t:sections.all.padding.padding_top.unit",
        "label": "t:sections.all.padding.padding_top.label",
        "default": 36
      }, {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "t:sections.all.padding.padding_bottom.unit",
        "label": "t:sections.all.padding.padding_bottom.label",
        "default": 36
      }, {
        "type": "header",
        "content": "Blog Sidebar"
      }, {
        "type": "blog",
        "id": "blog",
        "label": "t:sections.featured-blog.settings.blog.label"
      }, {
        "type": "range",
        "id": "post_limit",
        "min": 3,
        "max": 6,
        "step": 1,
        "default": 3,
        "label": "t:sections.featured-blog.settings.post_limit.label"
      }
    ],
    "blocks": [
      {
        "type": "post_content",
        "name": "Post Content",
        "limit": 1
      },
      {
        "type": "post_sidebar",
        "name": "Post Sidebar",
        "limit": 1
      }
    ]
  }
{% endschema %}