{%- style -%}
  .section-cta .section-cta-inner.section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  @media (max-width: 767px){
    .section-cta .section-cta-inner.section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_mobile }}px !important;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px !important;
  }
  }
{%- endstyle -%}
<div
  class="section-cta-inner section-{{ section.id }}-padding layout-{{section.settings.layout}} {{section.settings.custom_class}}"
  style="padding-top: {{section.settings.padding_top}}px;padding-bottom: {{section.settings.padding_bottom}}px;"
>
  <div
    class="background-mask"
    style="
      background-color: {{ section.settings.bg_color }};
      {%- if section.settings.bg_image != blank -%}
        background-image: url({{section.settings.bg_image | image_url}});
      {%- endif -%}      
    "
  >
    background-mask
  </div>
  <div class="site-container">
    <div class="row">
      {%- if section.settings.layout == 'with_icon' -%}
        {%- for block in section.blocks -%}
          <div class="col" {{ block.shopify_attributes }}>
            <div class="section-cta-item">
              {%- if block.settings.icon != blank -%}
                <img src="{{block.settings.icon | image_url}}" alt="icon">
              {%- endif -%}
              <div class="bl-content">{{ block.settings.text }}</div>
            </div>
          </div>
        {%- endfor -%}
      {%- else -%}
        <div class="col">
          {%- if section.settings.image_left != blank -%}
            <img src="{{section.settings.image_left | image_url}}" alt="">
          {%- endif -%}
        </div>

        <div class="col">
          {%- if section.settings.heading != blank -%}
            <h2
              class="section-heading"
              style="color: {{section.settings.heading_color}};font-family: {{section.settings.font_family}}; font-size: {{section.settings.font_size}}px; font-weight: {{section.settings.font_weight}}"
            >
              {{ section.settings.heading }}
            </h2>
          {%- endif -%}
          {%- if section.settings.btn_label != blank -%}
            <a href="{{section.settings.button_link}}" class="button section-button">
              {{- section.settings.btn_label }}<span class="button-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5 12H19" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12 5L19 12L12 19" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                </svg></span
            ></a>
          {%- endif -%}
        </div>

        <div class="col">
          {%- if section.settings.image_right != blank -%}
            <img src="{{section.settings.image_right | image_url}}" alt="">
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Section CTA",
  "tag": "section",
  "class": "section-cta",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "with_icon",
          "label": "Icon & Text"
        }
      ],
      "default": "default",
      "label": "Layout"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "no more hair of the dog",
      "label": "Heading"
    },
    {
      "type": "range",
      "id": "font_size",
      "min": 12,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 36
    },
    {
      "type": "select",
      "id": "font_family",
      "options": [
        {
          "value": "Flavory Display",
          "label": "Flavory Display"
        },
        {
          "value": "Montserrat",
          "label": "Montserrat"
        }
      ],
      "default": "Flavory Display",
      "label": "Font Family"
    },
    {
      "type": "select",
      "id": "font_weight",
      "options": [
        {
          "value": "300",
          "label": "300"
        },
        {
          "value": "400",
          "label": "400"
        },
        {
          "value": "500",
          "label": "500"
        },
        {
          "value": "600",
          "label": "600"
        },
        {
          "value": "700",
          "label": "700"
        },
        {
          "value": "800",
          "label": "800"
        },
        {
          "value": "900",
          "label": "900"
        }
      ],
      "default": "900",
      "label": "Font Weight"
    },
    {
      "type": "color",
      "id": "heading_color",
      "default": "#000",
      "label": "Color"
    },
    {
      "type": "header",
      "content": "Media"
    },
    {
      "type": "image_picker",
      "id": "image_left",
      "label": "Image Left"
    },
    {
      "type": "image_picker",
      "id": "image_right",
      "label": "Image Right"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "bg_color",
      "default": "#FFC85E",
      "label": "Background Color"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_label",
      "default": "Button Label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 124
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 124
    },
    {
      "type": "header",
      "content": "Section Padding on Mobile"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 60
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
  ],
  "blocks": [
    {
      "type": "bl_icon",
      "name": "Icon & Text",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Content",
          "default": "<p>Local Business</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Section CTA"
    }
  ]
}
{% endschema %}
