{%- style -%}
  .section-box-collections .section-inner.section-{{ section.id }}{
    background-color: {{section.settings.bg_color}};

  }
    .section-box-collections .section-inner.section-{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
    }
{%- endstyle -%}
<div class="section-inner section-{{ section.id }} {{section.settings.custom_class}}">
  <div class="section-container">
    <div class="row">
      <div class="col col-content">
        {%- if section.settings.subheading != blank -%}
          <div class="col-content--subheading" {{ block.shopify_attributes }}>{{ section.settings.subheading }}</div>
        {%- endif -%}
        {%- if section.settings.heading != blank -%}
          <h2 class="col-content--heading" {{ block.shopify_attributes }}>{{ section.settings.heading }}</h2>
        {%- endif -%}

        {%- if section.settings.text != blank -%}
          <div class="col-content--desc" {{ block.shopify_attributes }}>{{ section.settings.text }}</div>
        {%- endif -%}

        {%- if section.settings.btn_label != blank -%}
          <a
            class="button col-content--button"
            href="{{section.settings.button_link}}"
            {{ block.shopify_attributes }}
          >
            {{- section.settings.btn_label -}}
            <span class="button-icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 12H19" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 5L19 12L12 19" stroke="white" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
              </svg></span
          ></a>
        {%- endif -%}
      </div>
      <div class="col col-collection">
        <div class="col-collection-list">
          {%- if section.blocks.size > 0 -%}
            {%- for block in section.blocks -%}
              {%- assign collectionUrl = collections[block.settings.collection].url -%}
              {%- assign collectionTitle = collections[block.settings.collection].title -%}
              <div class="box-collection-item" {{ block.shopify_attributes }}>
                <div class="box-collection-item-media">
                  <a href="{{collectionUrl}}">
                    {%- if block.settings.image != blank -%}
                      <img src="{{block.settings.image | image_url}}" alt="{{collectionTitle}}">
                    {%- endif -%}
                    {%- if block.settings.image_hover != blank -%}
                      <img src="{{block.settings.image_hover | image_url}}" alt="{{collectionTitle}}">
                    {%- endif -%}
                  </a>
                </div>
                <div class="box-collection-item-label"><a href="{{collectionUrl}}">{{ collectionTitle }}</a></div>
              </div>
            {%- endfor -%}
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Box Collections",
  "tag": "section",
  "class": "section-box-collections",
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "default": "SPHYNX DRINKS",
      "label": "SubHeading"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Join The Party With The Best Non-Alcoholic Drinks Australia Offers!",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Content",
      "default": "<p>Join the Sphynx party and crack open a well-earned zero-alcohol beer or your favourite bottle of zero-alcohol wine! We’ve made it our mission to provide Australians with the best selection of non-alcoholic drinks anywhere in the country. Our painstakingly curated range of alcohol-free beverages includes beers, ciders, wines, spirits, cheeky tonics, sodas and awesome mixers.</p>"
    },
    {
      "type": "text",
      "id": "btn_label",
      "default": "Button Label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "color",
      "id": "bg_color",
      "default": "#F8F8F8",
      "label": "Background Color"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.header.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_top.unit",
      "label": "t:sections.all.padding.padding_top.label",
      "default": 70
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "t:sections.all.padding.padding_bottom.unit",
      "label": "t:sections.all.padding.padding_bottom.label",
      "default": 70
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "Custom Class"
    }
  ],
  "blocks": [
    {
      "type": "box_collection_item",
      "name": "Box Collection Item",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Collection Image"
        },
        {
          "type": "image_picker",
          "id": "image_hover",
          "label": "Collection Image Hover"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Box Collections",
      "blocks": [
        {
          "type": "box_collection_item"
        }
      ]
    }
  ]
}
{% endschema %}
